@model M8ScoreTool.Models.ExternalLoginListViewModel

<h4>Use another service to log in.</h4>
<hr />
<div>
    <p>External login providers are not configured for this .NET 8 migration yet.</p>
</div>
